
@font-face {
  font-family: "cinzel";
  src: url("font/Cinzel-VariableFont_wght.ttf");
}
@font-face {
  font-family: "slim";
  src: url("font/Slim\ Joe.otf");
  font-weight: bold;
}
@font-face {
  font-family: "moonlight";
  src: url("font/MoonLight.otf");
}
@font-face {
  font-family: "korcy";
  src: url("font/Korcy\ Oblique.ttf");
}
@font-face {
  font-family: "korcyB";
  src: url("font/Korcy.ttf");
}



body{
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

video{
    position:absolute;
    overflow: hidden;
    width:100%;
    height:100vh;
    object-fit: cover;
    z-index: -100;
    display: block;
    top: 0;
    opacity: 0.9;
}

/* CHAT CONTAINER */
.chat_container {
  width: 90%;
  max-width: 600px;
  height: 85vh;
  background-color: #1f1f1f;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #444;
}

/* HEADER */
.chat_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2a2a;
  padding: 1rem;
  font-family: "cinzel", serif;
  border-bottom: 1px solid #555;
}

.chat_title {
  font-size: 1.1rem;
  color: #fff;
}

.butEsci {
    border: 1px solid white;
    border-radius: 0.7rem;
    color: rgb(255, 0, 0);    
    border-radius: 0.7rem;
    background: none;
    padding: 10px;
    color: white;
    margin-right: 0rem;
    cursor: pointer;
}

.butEsci:hover {
    border: 1px solid rgb(255, 0, 0);
    color: red;
    cursor: pointer;
    transition: all 0.6s;
}
/* MESSAGGI */
.messages {
  flex: 1;
  padding: 0.6rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* Scrollbar custom */
.messages::-webkit-scrollbar {
  width: 8px;
}
.messages::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}
.messages::-webkit-scrollbar-track {
  background: #2a2a2a;
}

.blocco_messaggi {
  margin-bottom: 1rem;
  display: block;
}

.message {
  padding: 0.8rem 1rem;
  border-radius: 10px;
  max-width: 48%;
  word-wrap: break-word;
  position: relative;
  font-size: 0.85rem;
  line-height: 1.2;
  font-family: "korcyB" , sans-serif;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.message.user {
  background-color: #3cb371;
  color: #fff;
  margin-left: auto;
}

.message.other {
  background-color: #5e42ff;
  margin-right: auto; 
  text-align: left;
}

/* INPUT */
.input-container {
  display: flex;
  padding: 1rem;
  background-color: #2a2a2a;
  border-top: 1px solid #444;
}

.input-container input {
  flex: 1;
  font-family: "korcyB";
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  outline: none;
  margin-right: 10px;
  background-color: #444;
  color: #fff;
}

.input-container button {
  padding: 0.75rem 1.5rem;
  font-family: "korcy";
  font-size: 0.9rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.input-container button:hover {
  background-color: #218838;
}

/* INDEX */

.titolo {
    font-family: "cinzel", serif;
    color: #ffffff;
    font-size: 3rem;
    margin-bottom: 5rem;
    margin-top: 4.5rem;
    text-align: center;
    text-shadow: -2px 2px 13px black;
    font-style: italic;
}

.login-container {
  background-color: rgba(30, 30, 30, 0.95);
  padding: 40px;
  padding-top: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  width: 90%;
  max-width: 400px;
  text-align: center;
}
.login-container h2 {
  font-family: "slim", sans-serif;
  color: #ffffff;
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
}
.login-container .normal{
  width: 94%;
  padding: 16px 8px 16px 16px;
  margin: 10px 0;
  font-size: 0.9rem;
  font-family: "korcyB";
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #444;
  color: #fff;
}
.input_password{
  width: 94%;
  display: flex;
  align-items: center;
  padding: 6px 12px 6px 12px;
  margin: 10px 0;
  background-color: #444;
  border-radius: 8px;
}
.input_password img{
  margin: 0;
  margin-right: 0.3rem;
  max-width: 24px;
  cursor: pointer;
  padding: 8px;
  border-radius: 100%;
  transition: all 0.5s;
}
#eyeicon:hover{
  background: rgb(44, 44, 44);
}

#password {
  width: 100%;
  font-size: 0.9rem;
  font-family: "korcyB";
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #444;
  color: #fff;
}


#password::-ms-reveal,
#password::-ms-clear {
  display: none;
}

#password::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}

#password::-webkit-textfield-decoration-container {
  display: none !important;
}
    
.login-container input::placeholder {
    color: #aaaaaa;
}

.login-container button {
  width: 100%;
  font-family: "korcy";
  text-transform: uppercase;
  padding: 12px;
  font-size: 1rem;
  margin-top: 10px;
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.login-container button:hover {
  color: #28a745;
  border: 2px solid #28a745;
}

@media (max-width: 500px) {
  .titolo {
    font-size: 2.2rem;
  }

  .login-container {
    padding: 30px 20px;
  }
}